@import url(http://weloveiconfonts.com/api/?family=entypo);

/* typicons*/
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}



body {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;

    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
}

.login-area {
    font-size: 13px;
    color: gray;
    position: absolute;
    top: 10px;
    right: 10px;
}

.login-link {
    color: gray;
    text-decoration: none;
}

.login-link:visited {
    color: gray;
}

.login-link:hover {
    text-decoration: underline;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: red;
}


label {
  display: block;
  font-size: 20px;
  text-align: right
}

label + label {
    margin-top: 20px;
}

input{

    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}

textarea {
  width: 500px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
}

input[type=submit] {
  font-size: 24px;
}

.main-title {
    display: block;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}

.post + .post {
    margin-top: 15px;
}

.post-heading {
    position: relative;
    border-bottom: 3px solid #666;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
}

.post-date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;

}

.post-content {
    margin-top: 5px;
}

#welcome {
  height: 300px;
  width: 800px;
  border: 7px solid black;
  margin : 12% auto;
}
h1 {
    text-align: center;
  }
.content{
    display: inline-block;
  }
#container {
   margin: 12% auto;
   margin-left: 250px;
  }
#container a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    margin: 10px;
    font-weight: bolder;
  }
.inlines {
  display: inline-block;
}

.inlns a {
  position: relative;
  text-decoration: none;
  color: black;
  left:730px;
  bottom: 35px;
}

a {
  color: black;
  text-decoration: none;
}

.likes {
  position: relative;
  margin-left: -30px;
  text-decoration: underline;
  top:-5px;
}

.comment {
  border: 2px solid black;
  width: 135px;
}

.comm + .comm {
    margin-top: 10px;
}

.comm-heading {
    position: relative;
    border-bottom: 1px solid #666;
}

.comm-title {
    font-size: 18px;
    font-weight: bold;
}

.comm-date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;

}

.comm-content {
    margin-top: 5px;
}

.comm {
  width: 500px;
  position: relative;
  left: 22px;
}

p {
  position: relative;
  left:21px;
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
}
