{% extends "base.html" %}

{% block content %}
<div class="error main_error">
  {{ error }}
</div>
<br>
  {% for p in posts %}
    {{ p.render(user,error,p.key().id(),likes) | safe }}
    {% if user %}
    <div class="inlns inlines" style="width:50px;">
      <a class="entypo-pencil" href="/edit/{{p.key().id()}}"></a>
      <a class="entypo-cancel" href = "/delete/{{p.key().id()}}"></a>
    </div>
    {% endif %}
    <p>Comments</p>
    {% for c in comments %}
        {{ c.render(p) | safe}}
    {% endfor %}
    <br></br>
  {% endfor %}

{% endblock %}
