<div class="post">
  <div class="inlines" style="width:15px;">
    {% if user %}
    <span class="entypo-up-bold"></span>
    <div style="margin-left:2px;">{{p.likes}}</div>
    <span class="entypo-down-bold"></span>
  </div>
  {% endif %}
  <div class="inlines" style="width:700px;">
  <div class="post-heading">
    <div class="post-title">
      {{p.subject}}
    </div>

    <div class="post-date">
      {{p.created.strftime("%b %d, %Y")}}
    </div>
  </div>

  <div class="post-content">
    {{p._render_text | safe}}
  </div>
</div>
{% if user %}
<div class="inlines" style="width:30px;">
  <span class="entypo-cancel-circled"></span>
  <span class="entypo-pencil"></span>
</div>
{% endif %}
</div>
