<div class="post">
  <div class="inlines" style="width:15px;">
    <span class="entypo-up-bold"></span>
    <div style="margin-left:2px;">{{p.likes}}</div>
    <span class="entypo-down-bold"></span>
  </div>
  <div class="inlines" style="width:700px;">
  <div class="post-heading">
    <div class="post-title">
      {{p.subject}}
    </div>
    <div class="post-date">
      {{p.created.strftime("%b %d, %Y")}}
    </div>
  </div>

  <div class="post-content">
    {{p._render_text | safe}}
  </div>
</div>
</div>
